.container
  %h1 Flex Grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid
  .flex-1
    .show-grid

  .flex-4
    .show-grid
  .flex-8
    .show-grid

  .flex-2
    .show-grid
  .flex-1
    .show-grid
  .flex-7
    .show-grid
  .flex-2
    .show-grid

  .flex-3
    .show-grid
  .flex-3
    .show-grid
  .flex-3
    .show-grid
  .flex-3
    .show-grid
 
  .flex-5
    .show-grid
  .flex-7
    .show-grid