<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
</head>
<body>

<script>
var galleryWidgetElements = document.querySelectorAll('.gallery-widget');

for (var i = 0, controlViewElement; i < galleryWidgetElements.length; i++)
{
	controlViewElement = galleryWidgetElements[i].querySelector('.control-view');
	controlViewElement.galleryWidgetElement = galleryWidgetElements[i];
	
	controlViewElement.addEventListener('click', function ()
	{
		toggleView(this.galleryWidgetElement);
	});
}

function toggleView(galleryWidgetElement)
{
	galleryWidgetElement.classList.toggle('list-view');
}

</script>
	<div>
	<table>
	<tr>
    
	<% for(var i in mentors) { %>
				<td>
					<img src="<%=mentors[i].fbid%>.png" height="200px" width="200px" />
					<p>
						<span id="item3-description">
							<a href="https://www.facebook.com/<%=mentors[i].fbid%>"><h3><%= mentors[i].name %></h3></a>
						</span>
					</p>
				</td>
			<% } %>
		</tr>
		</table>
		</div>


</body>
</html>