<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
</head>
<body>




			
			<% for(var i in mentors) { %>
			<div class="row">
				<div class="col-xs-12">
					<a href=""><h3><%= mentors[i].name %></h3></a>

					<!-- <p class="lead">
						<button class="btn btn-default">Read More</button>
					</p> 
					<p class="pull-right">
						<span class="label label-default">keyword</span> <span
							class="label label-default">tag</span> <span
							class="label label-default">post</span>
					</p> -->
					
				</div>
			</div>
			<hr>

			<% } %>

			
		</div>


</body>
</html>